/* body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
header{
    background-color: rgb(201, 200, 200);
}
#ville{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.vil{
   width: 650px;
    display: flex;
    overflow: hidden;
    transition: 10s;
}
.vil img{
    width: 650px;
    height: 420px;
}
.vil div{
    animation: ville 90S   infinite;
}
@keyframes ville{
    3%{
        transform: translateX(0);
    }
    16%{
        transform: translateX(-650px);
    }
    27%{
        transform: translateX(-1300px);
    }
    40%{
        transform: translateX(-1950px);
    }
    49%{
        transform: translateX(-2600px);
    }
    60%{
        transform: translateX(-3250px);
    }
    71%{
        transform: translateX(-3900px);
    }
    82%{
        transform: translateX(-4550px);
    }
    93%{
        transform: translateX(-5200px);
    }
    104%{
        transform: translateX(-5850px);
    }
}



.hdroite2{
    display: none;
    z-index: 100;
}
.tex{
    display: none;
}
.hgauche{
    display: flex;
    gap: 5px;
    margin-left: 5px;
}
.hgauche p{
    opacity: 50%;
}
.hgauche img{
    opacity: 70%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px rgb(51, 255, 0); 
}
.hdroite{
    display: flex;
    justify-content: center;
    gap: 110PX;
    margin-left: 70px;
}
.hdroite a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.hdroite a:hover{
    color: rgb(255, 136, 0);
    cursor: default;
}
.av{
    display: none;
}
.ass{
    background-image: radial-gradient(rgb(247, 188, 188),rgb(151, 236, 162));
    width: 400px;
    height: 420px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 19, 233);
    transition: 0.3s;
    animation: back infinite 90s;
}
@keyframes back{
    0%{
        background-image: radial-gradient(rgb(153, 124, 149),rgb(150, 157, 185));
        color: rgb(230, 240, 230);    
    }
    14%{
        background-image: radial-gradient(rgb(253, 240, 194),rgb(236, 145, 214));
color: rgb(43, 8, 243);    
}
    28%{
    background-image: radial-gradient(rgb(194, 253, 235),rgb(236, 145, 214));
    color: rgb(43, 8, 243);
}
    42%{
    background-image: radial-gradient(rgb(194, 253, 235),rgb(236, 163, 145));
    color: rgb(0, 0, 0);
}
    56%{
        background-image: radial-gradient(rgb(33, 63, 54),rgb(52, 63, 53));
 color: rgb(255, 255, 255);
}
    70%{
    background-image: radial-gradient(rgb(128, 238, 152),rgb(16, 45, 141));
    color: rgb(255, 255, 255);
}
    84%{
        background-image: radial-gradient(rgb(207, 110, 199),rgb(178, 21, 184));
        color: yellow;
    }
    98%{
        background-image: radial-gradient(rgb(247, 188, 188),rgb(151, 236, 162));
    color: rgb(58, 19, 233);
}
}
.ass p{
    text-align: justify;
}
.ass img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.ass a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.2s;
}
.ass a:hover{
    font-size: 20px;
    color: aqua;
}
section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.bus{
    width: 830px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
background-image: radial-gradient(rgb(183, 193, 252),rgb(252, 166, 247));
}
.bus div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bus img{
    width: 265px;
    height: 190px;
    filter: brightness(75%);
    transition: 0.7s;
}
.bus img:hover{
    filter: brightness(100%);
}
.bus p{
    display: none;
    position: absolute;
}
.bus img:hover + p{
   display: block;
   font-weight: bold;
   color: rgb(255, 145, 0);
}
.voir{
    margin-top: 40px;
}